<h1> Registro de usuario </h1>
<div class="row">
  <div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
		
			<%= f.text_field :firstname, :placeholder => 'Nombre' %>
			
			<%= f.text_field :email, :placeholder => 'Correo' %>
			
			<%= f.password_field :password, :placeholder => 'Clave' %>
			
			<%= f.submit "Registrarme", :class => "btn btn-primary" %>
			
		<% end %>
	</div>
</div>
